@model TheQuyen.OnlinePainting.Data.Models.Comment

@{
    ViewData["Title"] = "Create";
    Layout = "_NewLayout";
}
<h1 class="text-center">Thêm Bình Luận</h1>
<hr />
<div class="centered-form">
    <div class="form-container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentDate" class="control-label"></label>
                <input asp-for="CommentDate" class="form-control" />
                <span asp-validation-for="CommentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikeCount" class="control-label"></label>
                <input asp-for="LikeCount" class="form-control" />
                <span asp-validation-for="LikeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaintingId" class="control-label"></label>
                <select asp-for="PaintingId" class ="form-control" asp-items="ViewBag.PaintingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ParentCommentId" class="control-label"></label>
                <select asp-for="ParentCommentId" class ="form-control" asp-items="ViewBag.ParentCommentId"></select>
            </div>
            <div class="button-group">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a class="btn btn-info" asp-action="Index">Trở về</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
