@model TheQuyen.OnlinePainting.Data.Models.Artist

@{
    ViewData["Title"] = "Edit";
    Layout = "_NewLayout";
}

<h1 class="text-center">Chỉnh Sửa</h1>
<div class="card table-responsive">
   
    <div class="card-body">
        <h4 class="card-title">Họa Sĩ</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">              
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ArtistId" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="control-label"></label>
                        <textarea asp-for="Bio" class="form-control"></textarea>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Website" class="control-label"></label>
                        <input asp-for="Website" class="form-control" />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nationality" class="control-label"></label>
                        <input asp-for="Nationality" class="form-control" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Trở về</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
